.main-button {
    appearance: none;
    outline: 0;
    background-color: transparent;
    border: 1px solid $color-white-1;
    box-shadow: $shadow-2;
    padding: 1rem;
    margin: 20px;
    margin-bottom: 1rem;
    color: $color-white-1;
    height: 4.5rem;
    width: 15rem;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;

    &__justify {
      text-align: justify;
    }
        

    &:hover {
      color: $color-primary-dark;
      background-color: $color-white-1;
    }

    &:focus {
      outline: none;
      background-color: $color-secondary-dark;
    }

    &--float-left {
      float: left;
    }

    &--large {
      width: 20rem;
    }

    &--large-2 {
      width: 40rem;
    }

    &__blue {

      &:hover {
        color: $color-white-1;
        background-color: $color-blue-1;
      }
    }

    &--xero {
      height: 7rem;
      width: 23rem;
      padding: 1rem;
    }
  }

  .button-top-left {
    position: absolute;
    top: 18rem;
    left: 0.5rem;
  }

  .xero-connect {
    margin-top: 0rem;
    width: 40rem;
  }

  
  