$color-primary-dark: #eae0dc;
$color-primary-light: #D8C3A5;

// #C7B198

$color-secondary-dark: #E85A4F;
$color-secondary-light: #E98074;
$color-secondary-hover: #8E8D8A;

$color-text: #404447;

// $color-primary-dark: #1c2024;
// $color-primary-light: #ffffff;

// $color-secondary-dark: #303133;
// $color-secondary-light: #43464b;
// $color-secondary-hover: #728094;

$color-tertiary-dark: #140f29;
$color-tertiary-light: #211942;

$color-grey-dark: #2f353a;
$color-grey-dark-2: #272d31;


$color-secondary: #9900ff;
$color-tertiary: #20004f;
$color-quarterniary: #471686;
$color-quinary: #0d0021;
$color-sextet: #969696;

$color-table-lines: #1e2225;
$color-table-lines-2: #1e2225;
$color-table-lines-3: #1e2225;

$color-white-1: #1e2225;
$color-black-1: #000000;

$color-number-neutral: #5e5e5e;
$color-number-negative: red;
$color-number-positive: rgb(72, 155, 72);

$color-blue-1: #0011ff;

$color-d3-bars: #8E8D8A;
$color-d3-bars-low: #4d2200;

$shadow-1: 0 1.5rem 4rem rgba(black, 0.3);
$shadow-2: 0 1.5rem 4rem rgba(black, 0.3);
$shadow-3: 0 0 5rem rgba(black, 0.8);

$default-font-size: 1.8rem;

//Grid
$grid-width: 180rem;
$gutter-vertical: 2rem;
$gutter-vertical-small: 1rem;
$gutter-horizontal: 2rem;

//Grid-Settings
$grid-width-set: 120rem;
$gutter-vertical-set: 2rem;
$gutter-vertical-small-set: 2rem;
$gutter-horizontal-set: 2rem;


// $color-primary: #221F3B;

$color-primary: #140033;